name: Auto build GPA Tool EXE

on:
  push:
    branches: [ "*" ]
    tags: [ "*" ]
    paths:
      - 'the reason, for you - me - us, future trojans 204d9622fa1980d39d31c68f0bdb5fa0/tool_tinhGPA_Troy/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies & Build EXE
      run: |
        cd "the reason, for you - me - us, future trojans 204d9622fa1980d39d31c68f0bdb5fa0/tool_tinhGPA_Troy"
        pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt
        pyinstaller --onefile --noconsole --name TroyCalcGPA TroyCalcGPA.py

    - name: Upload EXE to Release
      uses: softprops/action-gh-release@v1
      with:
        files: "'the reason, for you - me - us, future trojans 204d9622fa1980d39d31c68f0bdb5fa0/tool_tinhGPA_Troy/dist/TroyCalcGPA.exe'"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}